<?xml version="1.0" encoding="utf-8"?>
<!-- Flag images are fetched from flagcdn.com (CountryFlagSource.FlagCdn, the default). Hosts that
     use CountryFlagSource.Emoji everywhere can strip this with tools:node="remove". -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
